
<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark" style="background-color: #563d7c;">
  <div class="container">
  <div class="collapse navbar-collapse">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav collapse navbar-collapse justify-content-end">
      <li class="nav-item">
        <a class="nav-link" routerLink="users" routerLinkActive="active">Login <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>

</div>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #563d7c;">
    <div class="container">
    <div class="collapse navbar-collapse">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-dark dropdown-toggle"
                    aria-controls="dropdown-basic" style="background-color: #563d7c; border-color: #563d7c">
              Dropdown <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
              </li>
            </ul>
          </div>

          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-dark dropdown-toggle"
                    aria-controls="dropdown-basic" style="background-color: #563d7c; border-color: #563d7c">
              Dropdown <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
              </li>
            </ul>
          </div>
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-dark dropdown-toggle"
                    aria-controls="dropdown-basic" style="background-color: #563d7c; border-color: #563d7c">
              Dropdown <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
              </li>
            </ul>
          </div>
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-dark dropdown-toggle"
                    aria-controls="dropdown-basic" style="background-color: #563d7c; border-color: #563d7c">
              Dropdown <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
              </li>
            </ul>
          </div>
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-dark dropdown-toggle"
                    aria-controls="dropdown-basic" style="background-color: #563d7c; border-color: #563d7c">
              Dropdown
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
              </li>
            </ul>
          </div>

      </div>
    </div>
    </div>
  </nav>
<div class="container">
  <div class="row" *ngFor="let product of products"
       style="position:relative;top: 120px; border-top: 1px solid; border-color: #e7e7e7">
    <app-product-view [product]="product"></app-product-view>
  </div>
</div>
